#gate {
    position: absolute;
    z-index: 10;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
}

#gateheader {
    padding: 10px;
    cursor: move;
    z-index: 15;
    background-color: #2196F3;
    color: #fff;
}

.canvascard {
    height: calc(600px);
    margin-bottom: 15px;
}

.column {
    float: left;
    width: 50%;
    display: -webkit-flex; /* Safari */
    -webkit-align-items: center; /* Safari 7.0+ */
    display: flex;
    align-items: center;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
